table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

tr, td {
  position: relative;
  height: auto;
  width: auto;
  word-break: break-all;
  }

tr:hover .entrybracket {
  visibility: visible;
}

th {
  border-bottom: 1px solid #ddd;
  text-align: left
}

tbody tr:nth-last-child(2) {
  border-bottom: 1px solid black;
}

.entry {
  border-bottom: 1px solid #ddd;
}

.summary {
  font-weight: bold
}

.rowbg {
  background-color: lightblue;
  position: absolute;
  height: calc(100% - 4px);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.entrybracket {
  visibility: hidden;
}

.entry-content {
}

.entry-name {
  width: 400px;
}

.col1 {
  width: 20px;
}

.col2, .col4 {
  width: 20px;
}

.col3 {
  width: 400px;
}

.no-entries h3 {
  text-align: center;
  color: #8f8f8f;
}
