/* http://paletton.com/palette.php?uid=b5f0b3o0k8HpnlmojdPov4Jr81UtL */

.leaf.node circle:hover {
  cursor: pointer;
  stroke: #A23669;
  stroke-width: 1.5px;
}

.internal.node circle {
  fill: #C6BAC0 ;
  stroke: #B49AA6;
  stroke-width: 1px;
}

.leaf.node circle {
  fill: #B49AA6;
  stroke: #A35D7E;
  stroke-width: 1px;
}

text {
  font: 10px sans-serif;
  text-anchor: middle;
}
