<h2 *ngIf="summary">{{summary.curr_dir}}</h2>
<table *ngIf="entries">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size (bytes) </th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr class="entry" *ngFor="let e of entries">
      <td><img [attr.src]="e.type === 'directory' ? iconFolder : iconFile"></td>
      <td>{{e.fname}}</td>
      <td>{{e.fsize}}</td>
      <td>{{e.type}}</td>
    </tr>
    <tr class="summary">
      <td>Total size:</td>
    <td>{{summary.totalsize}} bytes</td>
    </tr>
  </tbody>
</table>
