<table *ngIf="dirExists && entries">
  <thead>
    <tr>
      <th class="col1"></th>
      <th class="col2"></th>
      <th class="col3">Name</th>
      <th class="col4"></th>
      <th>Size (bytes)</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngIf="querySubmitted && entries.length === 0" class="no-entries">
      <td colspan=6><h3>Empty</h3></td>
    </tr>

    <tr *ngFor="let e of entries" class="entry">
      <td><img [attr.src]="e.type === 'directory' ? iconFolder : iconFile"></td>
      <td><img [attr.src]="iconLt" class="entrybracket"></td>
      <td class="entry-name">
        <div class="rowbg" [style.width.%]="e.relativeSize"></div>
        <span class="entry-content">
          <a (click)="e.type === 'directory' ?
          sendDiskUsageQuery(summary.cwd + '/' + e.fname)
          : openFileView(summary.cwd + '/' + e.fname)">{{e.fname}}</a>
        </span>
      </td>
      <td><img [attr.src]="iconGt" class="entrybracket"></td>
      <td>{{e.fsize}}</td>
      <td>{{e.type}}</td>
    </tr>

    <tr class="summary">
      <td></td>
      <td></td>
      <td>Total size:</td>
      <td></td>
      <td>{{summary.totalsize}} bytes</td>
      <td></td>
    </tr>

  </tbody>
</table>

<h3 *ngIf="!dirExists && querySubmitted">Directory {{summary.cwd}} <br> was not found.</h3>
