table {
  border-collapse: collapse;
  width: 100%
}

tr, td {
  position: relative;
  height: 1.8em;
}

tr:hover .entrybracket {
  visibility: visible;
}

th {
  border-bottom: 1px solid #ddd;
  text-align: left
}

tbody tr:nth-last-child(2) {
  border-bottom: 1px solid black;
}

.entry {
  border-bottom: 1px solid #ddd;
}

.summary {
  font-weight: bold
}

.rowbg {  /* TODO vertical align table contents better */
  background-color: lightblue;
  position: absolute;
  height: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.entrybracket {
  visibility: hidden;
}

.entry-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.entry-name {
  width: 50%;
}
