table {
  border-collapse: collapse;
  width: calc(100% - 4px);
  table-layout: fixed;
}

tr, td {
  position: relative;
  height: auto;
  width: auto;
  word-break: break-all;
  }

.entry {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* TODO fix hover border */
.entry:hover {
  cursor: pointer;
  border-top: 1px solid #c6bac0;
  border-left: 1px solid #c6bac0;
  border-right: 1px solid #c6bac0;
  border-bottom: 1px solid #c6bac0;
}

.entry td {
  background-color: #f2f2f2;
}

.entry:hover .entrybracket {
  visibility: visible;
}

th {
  border-bottom: 1px solid #ddd;
  text-align: left
}

tbody tr:nth-last-child(2) {
  border-bottom: 1px solid black;
}

.summary {
  font-weight: bold
}

.entrybracket {
  visibility: hidden;
}

.entry-name {
  width: 400px;
}

.entry-sizebar {
  background-color: #C6BAC0;
  position: absolute;
  height: calc(100% - 4px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.entry-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%
}

.col1 {
  width: 20px;
}

.col2, .col4 {
  width: 20px;
}

.col3 {
  width: 400px;
}

.no-entries h3 {
  text-align: center;
  color: #8f8f8f;
}
