<form class="basic-grey">
    <div id="inputarea">
        <span class="inputbox">
      <input #pathInputBox [(ngModel)]="path" type="text" name="path" placeholder="path">
      <button #pathSubmitter (click)="sendDiskUsageQuery(path)">Analyze</button>
    </span>
        <!-- TODO bring autocomplete entries to forefront -->
        <ul [class.autocompleteBoxHidden]="!autocompleteActive">
            <li *ngFor="let entry of autocompleteEntries.filteredEntries; let i = index" [class.active]="i === autocompleteEntries.selected" (mouseover)="autocompleteEntries.selected = i">
                <a (click)="liClickHandler($event)">{{entry}}</a></li>
        </ul>
    </div>
    <!-- TODO use platform-specific examples -->
</form>
<span *ngIf="cwd" id="currDirHeadingContainer" id="currdirHeadingContainer">
  <h2 id="currDirHeading">
    <img [attr.src]="iconToParentDir" (click)="toParentDir()" id="iconToParentDir">
    {{cwd}}
  </h2>
</span>
